services:
  lightrag:
    container_name: lightrag
    image: lightrag:latest
    build:
      context: .
      dockerfile: Dockerfile
      tags:
        - lightrag:latest
    ports:
      - "${PORT:-9621}:${PORT:-9621}"
    volumes:
      - ./data/rag_storage:/app/data/rag_storage
      - ./data/inputs:/app/data/inputs
      - ./config.ini:/app/config.ini
      - ./.env:/app/.env
    environment:
      - FORCE_COLOR=1
    env_file:
      - .env
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
